<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  *
  ~  *  *
  ~  *  *  * ===================================
  ~  *  *  * Copyright (c) 2016.
  ~  *  *  * 作者：安卓猴
  ~  *  *  * 微博：@安卓猴
  ~  *  *  * 博客：http://sunjiajia.com
  ~  *  *  * Github：https://github.com/opengit
  ~  *  *  *
  ~  *  *  * 注意**：如果您使用或者修改该代码，请务必保留此版权信息。
  ~  *  *  * ===================================
  ~  *  *
  ~  *  *
  ~  *
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sailman.gaokao">

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- SDCard中创建与删除文件权限 -->
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <!-- 向SDCard写入数据权限 -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name="com.sailman.gaokao.MyApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <activity
        android:name=".WebViewActivity"
        android:theme="@android:style/Theme.NoTitleBar" />
    <activity
        android:name=".LocalVideoActivity"
        android:configChanges="orientation|screenSize"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="landscape"
    />
    <activity
        android:name=".PlayActivity"
      />
    <activity
        android:name="com.sailman.gaokao.MyActivity"
        android:windowSoftInputMode="stateHidden"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <service android:name=".DownloadFileService" android:exported="false" />
  </application>

</manifest>
